@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Virgil";
    src: url("https://excalidraw.com/Virgil.woff2");
  }
}

::selection {
  background-color: #0affed;
  color: rgb(0, 0, 0);
}